html,body,form,div{
    margin:0;
}

.section {
    clear: both;
    padding: 0;
    margin: 0;
}
.col1 {
    background-color: #ff0000;
    height: 20px;
    text-align: center;
    display: block;
    float: left;
    margin: 0.5% 0.5% 0.5% 0.5%;
}
.col {
    background-color: #0094ff;
    height: 20px;
    text-align: center;
    display: block;
    float: left;
    margin: 0.5% 0.5% 0.5% 0.5%;
}
    .col:first-child {
        margin-left: 0;
    }
    .col:hover {
    .col1:hover {
        background-color: #808080;
    }
.group:before, .group:after {
        background-color: #808080;
    }
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.c4of5 {
    width: 99%;
    text-align:right;
    color:#ffffff;
    background-color:#808080;
}
.c1of5 {
    width: 19%;
}


#header{
    width:100%;
    height:60px;
    text-align:center;
    background-color:#0094ff;
    color:white;
}


#header #tittle_message{
    line-height:60px;
    font-size:24px;
    color:white;
    font-weight:bold;}
.info{
    width:100%;
    height:720px;
    background-size:cover;
    display:inline-block;
   
} #tittle {
    text-align:center;
    font-size:80px;
    margin:220px auto;
    color:black;
    
}
.clear{
    clear:both;

}
#footer{
    width:100%;
    height:30px;
    background-color:#0094ff;
    color:white;
    text-align:right;
    float:left;
    position:fixed;
    bottom:0px;
}
#footer #footer_message{
    line-height:30px;
    font-size:14px;
    color:white;
    font-weight:bold;
}

